.minor-form-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: #0000001a 0px 0px 10px;
  }
  
  .minor-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .minor-form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .minor-form-container input[type="text"],
  .minor-form-container select {
    padding: 12px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .minor-form-container .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Adjust the gap between buttons */
  }
  
  .minor-form-container button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%; /* Ensures buttons are side by side */
  }
  
  .minor-form-container button[type="submit"] {
    background-color: #0045ff;
    color: white;
    width: 125px;
  }
  
  .minor-form-container button:last-child {
    color: white;
    width: 125px;
  }
  
  